<h1><%= @trip.name %></h1>
<hr />
<%= link_to "View Locations", trip_locations_path(@trip) %>
<br />
<%= link_to "Edit Trip", edit_trip_path(@trip) %>
<br />
<%= link_to "Delete Trip", trip_path(@trip.id), method: :delete %>